.video-style {

    border: 3px solid yellow !important;
}

.vido_img {
    position: relative;
}

.centerVideo {
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;

}

.right-video-card {
    background: #2D2D2D !important;
}

.bottomleft-video {
    position: absolute;
    bottom: 3px;
    left: 16px;

}