.Banner-Auditions {
    border: 3px solid rgb(250, 213, 7);
    height: 260px;
    object-fit: cover;
}
.AuditionSR-p{
    background-color: #2D2D2D;
}
.AuditionSR-r{
    background-color:  #252525;
    border-radius: 5px 5px 0px 0px !important;
}
.AuditionsStrImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;border: 1px solid rgb(248, 203, 4);
}
.AuditionsTStrImg{
    width: 23px;
    height: 23px;
    object-fit: cover;
    border-radius: 50%;border: 1px solid rgb(248, 203, 4);
}
.SpotLightI{
    width: 20px;
    height: 20px;
}
.Star-text-Au{
    font-size: 15px;
}
.music-text{
    font-size: 12px;
}
@media only screen and (max-width: 375px) {
    .Audition-Main{
        display: inline !important;
    }

  }