.juryName {
  font-size: 25px;
}

.arafatPic {
  border: 50%;
  width: 55px;
}

.threeF {
  background-color: #fffdcf;
}

.cFour {
  background-color: #c4ffc5;
}

.ffdNine {
  background-color: #ffd9dc;
}

.iconJury {
  width: 45px;
}

.iconJuryText {
  font-size: 42px;
}
