
  .target {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    /* border: dotted 2px #3b2402; */

    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 16px;
    
    border-radius: 16px;
    padding: 20px;
    color: #080807;
    background-color: #e3ccaa;
    font-size: 20px;
    transition: 0.3s ease-in;
  }
  .hidden {
    display: none;
  }
  
  .text {
    text-align: center;
    margin: 0 auto;
    width: 80%;
  
   display: flex;
    padding: 8px;
    align-items: center; 
  }
  
  
  .uploadBtn {
    margin-right: 16px;
    background-color: #e3ccaa;
    border: none;
    border-radius: 4px;
    color: #080807;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
  }
  
  .x {
    margin-left: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }


  /* Card center */
  .CardBorder{
    border: 3px solid yellow !important;
    min-width: 100%;
    min-height: 64vh;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .fileUploadCard{
    min-width: 75%;
    
  }
   
