.fan-icon{
    background: linear-gradient(141.31deg, #00A692 -9.14%, #00E57A 115.47%) !important;
    padding: 13px !important;
    border-radius: 50%;
    font-size: 20px;
}
.fan-icon2{
    background: linear-gradient(141.31deg, #5425FF -9.14%, #FC01F5 115.47%) !important;
    padding: 13px !important;
    border-radius: 50%;
    font-size: 20px;
}
