.myButton .btn-secondary {
  /* color: #5E6975; */
  color: #909294 !important;
  background-color: #212529 !important;
  /* border-color: none !important; */
  border: none !important;
  color: #5e6975;
}

