.product-card {
  border: 2px solid yellow;
  background: #2d2d2d !important;
  padding: 0px;
  border-radius: 10px;
}

.icon-soldProduct {
  color: white;
}

.bg-gray {
  background-color: #737373;
  border-radius: 10px;
}

.img-style-sold {
  height: 100% !important;
  width: 100%;
  border-radius: 0 !important;
}

.div-img {
  width: 100%;
}

.eleven-one-parents {
  /* overflow: hidden; */
}

.text-sold-font {
  font-size: 15px;
}

.icon-deleteProduct {
  color: black;
}
