

.OTP-SP-Log{
    margin-top: 100px;
}

.OTP-time-sp-ad-e{
    margin-left: -100px;
    margin-top: 20px;
}



.btn-sp-register-ad-otp{
    margin-top: 20px;
    width: 15%;
    border-color: 1px solid goldenrod !important;
    color: rgb(245, 188, 3) !important;
    background-color: rgba(12, 12, 12, 0.911) !important;
}




.otpS input{
    width: 35px;
    margin: 5px;
    height: 35px;
    text-align: center;
    border: 1px solid #ffc107;
    background-color: rgba(12, 12, 12, 0.911);
    color:white;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
