.btn-sp-register-ad{
    margin-top: 20px;
    width: 75%;
    border-color: 1px solid goldenrod !important;
    color: white !important;
    background-color: rgba(12, 12, 12, 0.911) !important;
}

.btn-sp-register-ad::placeholder{
    color: rgb(245, 188, 3) !important;
}