.event-live-card{
    border: 2px solid goldenrod !important;
    border-radius: 5px;
    background: #2D2D2D !important;
}
.inside-card{
    background: #262626 !important;
}
.inside-card2{
    background: #151515 !important;
}
.spinlearn{
    width: 100%;
border-radius: 10px;
}

.learn-container{
    position: relative;
}
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background: #1D1D1DCF;
    border-radius: 10px;
  }
  .exp{
      width: 30% !important;
  }
  @media only screen and (max-width: 600px) {
    .exp {
     width:100px;
  
    }
  }