.dropDownMarketPlaece .btn-primary {
  /* color: #5E6975; */
  background-color: #212529 !important;
  /* border-color: none !important; */
  border: none !important;
}

.marktePlaceOrderTxt {
  text-decoration: none !important;
}
.badgeDanger {
  background-color: black;
}
.badgeInfo {
  background-color: blueviolet;
}
.badgeSuccess {
  background-color: burlywood;
}

.PBtn {
  cursor: pointer;
  /* background-color: rgb(39, 19, 19); */
  border-radius: 5px;
}

.PBtn:hover {
  cursor: pointer;
  background-color: rgb(36, 35, 35);
  color: white;
}

/* .active {
  background-color: #ffce00 !important;
  border-radius: 0px 0px 10px 10px;
} */

.BGBlue {
  background-color: #2d2d2d !important;
}

.PTBDn {
  background: linear-gradient(90deg, #ffce00 0%, #dfa434 100%);
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}