.Banner-SME {
    border: 3px solid rgb(250, 213, 7);
    height: 260px;
    object-fit: cover;
}
.MEN-X {
    background: linear-gradient(102.45deg, #F7ED00 28.52%, #FFD11A 72.31%) !important;
}
.MEN-Y{
    background: #4F4F4F !important;
}

.Mde-Nt{
    background: #252525 !important;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}





/* Tab || User Portal - Comments */

.img-fluid-Tab{
    width: 35px;
}
@media only screen and (max-width: 1024px) {
    .img-fluid-Tab{
        width:15px;
    }
  }
@media only screen and (min-width: 1025px) and (max-width: 1400px){
    .img-fluid-Tab{
        width:20px;
    }
  }