.public-DraftStyleDefault-ltr {
  direction: ltr;
  text-align: left;
  color: white;
}

.rdw-editor-main {
  height: 15vh;
  overflow: auto;
  box-sizing: border-box;
  background: #817e7e;
  border: 1px solid #817e7e7e;
  border-radius: 10px;
}

.public-DraftStyleDefault-block {
  margin: 1em 0;
  padding: 0 1em;
}

.rdw-editor-toolbar {
  padding: 6px 5px 0;
  border-radius: 2px;
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: 5px;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 10px;
}

.editorTextArea.rdw-editor-main {
  height: 15vh !important;
  overflow: auto;
  box-sizing: border-box;
}
