.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #151515;
}
.register-user-img{
  height: 40px;
  width: 40px;
}
.table-info {
  border: 1px solid yellow !important;
  background-color: #2d2d2d !important;
  border-radius: 18px !important;;
}
.call-btn {
  background: #656565 !important;;
  color: white !important;;
  border-radius: 15px !important;;
}
.call-btn:hover {
  color: white !important;;
  background: #494848 !important;;
}
.call-btn:focus {
  background-color: #ffd910 !important;
  color: white !important;;
}

/* right side style */
.right-card-live {
  width: 90% !important;;
  background: #2d2d2d !important;;
}
.time-table {
  background: #252525 !important;;
  width: 70% !important;;
  border-radius: 25px;
}
.time-table2 {
  background: #252525 !important;;
  width: 90% !important;;
  border-radius: 25px !important;;
}
.time-table3 {
  background: #252525 !important;;
  width: 65% !important;;
  border-radius: 25px !important;;
}
@media only screen and (max-width: 600px) {
  .time-table {
    width: 100%;
    font-size: 12px;
  }
  .right-card-live {
    width: 100%;
    background: #2d2d2d;
  }
}

.fa-clock,
.fa-dollar-sign {
  color: #d56d57 !important;
}

.fa-calendar-week {
  color: #d56d57 !important;
}
/* .time-table .other{
    background: rgb(97, 36, 36) !important;
    width: 80%;
} */
.date-font {
  font-weight: bold;
}
/* .enjoy-video{
    border-radius: 5px;
} */
.content {
  position: relative;
}
.content .btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0.8;
  background-color: #555;
  color: white;
}
.right-live-card-bg {
  background-color: black;
}
.icons-videos {
  border-radius: 15px;
}
.btn-rounded {
  border-radius: 50%;
}
