.video-style {

    border: 3px solid yellow !important;
    width: 100%;
}

.vido_img {
    position: relative;
    width: 100%;

}

.centerVideo {
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;

}

.right-video-card {
    background: #2D2D2D !important;
}

.bottomleft-video {
    position: absolute;
    bottom: 3px;
    left: 16px;

}


/* Imdadul Haque------> Video recording CSS */
.videoRecordBody{
    width: 100%;
    height: 100%;
}


.starRecord{
    height: 50px;
    width: 150px;
}