/* .modal-90w {
  width: 550px;
  max-width: 550px !important;
} */

.reply-control {
  border: 1px solid chocolate !important;
  color: white !important;
  background-color: #343434 !important;
}

.masterPasswordModal {
  background-color: #000000;
  border: 1px solid #dda336;
}
