.NavigationHead{
    background-color: #4B4B4B;
}
.container-custom{
    width: 90% !important;
}
.btn-style{
    background: linear-gradient(102.45deg, #F5EA45 28.52%, #DDA336 52.38%, #E7A725 72.31%);
border-radius: 10px;
color: #524814;
font-weight: bold;
}