.juryName {
  font-size: 25px;
}

.arafatPic {
  border: 50%;
  width: 55px;
}

.threeF {
  background-color: #fffdcf;
}

.cFour {
  background-color: #c4ffc5;
}

.ffdNine {
  background-color: #ffd9dc;
}

.iconJury {
  width: 45px;
}

.iconJuryText {
  font-size: 42px;
}
.nameBg {
  background: linear-gradient(
    102.45deg,
    #f5ea45 28.52%,
    #dda336 52.38%,
    #e7a725 72.31%
  );
}

.cardBox {
  width: 22rem;
}

.radioButtonSelect .css-ahj2mt-MuiTypography-root {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  letter-spacing: 0.00938em;
}

.radioButtonSelect .css-hyxlzm {
    position: relative;
    display: -webkit-box;
    color: gold;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}