.squareAScheApp{
    color: rgb(16,4,184);
}

.squareASchePen{
    color: rgb(245,206,147);
}

.PendingAdSchedule{
    background-color: rgb(245,206,147);
    border-radius: 0px 0px 12px 12px;
    height: 80px;
    color: black;
}

.ApprovedAdSchedule{
    background-color: rgb(16,4,184);
    border-radius: 0px 0px 12px 12px;
    height: 80px;
    color: white;
}

.ADImgSched{
    width: 45%;
}